<div class="container">
  <img ng-src="{{ main.currentUser.picture }}">
 

  <hr>
  <button class="logout" ng-click="main.logout()"><i class="fa fa-sign-out"></i> Logout</button>

  <section ng-controller="UsersController as users">
    <h1>Edit the Profile of your Pet </h1>

    <form name="users.newUser" ng-submit="users.addPet()">
      <label>Name</label><br>
      <input type="text" ng-model="users.pet.name"></br>
      <label>Picture</label><br>
      <input type="text" ng-model="users.pet.picture"></br>
      <label>Breed</label><br>
      <input type="text" ng-model="users.pet.breed"></br>
      <label>Gender</label><br>
      <input type="text" ng-model="users.pet.gender"></br>
      <label>D.O.B</label><br>
      <input type="date" ng-model="users.pet.dob"></br>
      <input type="submit" value="Add Pet">
    </form>
  </section>
